fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
requests
Pillow
numpy
scikit-learn
sentence-transformers
nltk
newsapi-python
transformers
torch
protobuf
sentencepiece
tokenizers
beautifulsoup4